@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h2> Movie Recieved. Thanks</h2>